@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Inter Light";

  font-display: swap;
  src: url("../assets/fonts/inter-light.woff2") format(woff2),
  url("../assets/fonts/inter-light.woff") format(woff);
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter Regular";

  font-display: swap;
  src: url("../assets/fonts/inter-regular.woff2") format(woff2),
  url("../assets/fonts/inter-regular.woff") format(woff);
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Inter SemiBold";

  font-display: swap;
  src: url("../assets/fonts/inter-semibold.woff2") format(woff2),
  url("../assets/fonts/inter-semibold.woff") format(woff);
}

@font-face {
  font-style: italic;
  font-weight: 900;
  font-family: "Inter Black";

  font-display: swap;
  src: url("../assets/fonts/inter-black-italic.woff2") format(woff2),
  url("../assets/fonts/inter-black-italic.woff") format(woff);
}

:root {
  --black: #000000;
  --bombay: #b5b5b2;
  --catskill-white: #e1e5dd;
  --cotton-candy: #ffbad3;
  --golden-tainoi: #fdbf45;
  --mint-green: #8dff8b;
  --moon-mist: #cdcdbd;
  --mulberry: #c44c7e;
  --nero: #282828;
  --outrageous-orange: #eb5a35;
  --pampas: #e9e5df;
  --pattens-blue: #dde1e5;
  --peach-orange: #ffc38b;
  --romance: #f4f0e9;
  --royal-blue: #4085e7;
  --sandy-beach: #ffdab7;
  --sea-buckthorn: #ed994c;
  --snow-drift: #e5e5dd;
  --tacao: #f3ae6d;
  --thistle: #d3c1d7;
  --tickle-me-pink: #f980b1;
  --transparent: rgba(0, 0, 0, 0);
  --twine: #dc9e64;
  --watercourse: #015e42;
  --whisper: #eae4e4;
  --white: #fefefe;
  --wild-willow: #b1cc5f;
  --zircon: #dde5e5;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "Inter Regular", "Arial", sans-serif;
  color: var(--black);

  background-color: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 30px;
}

.dotted-top {
  border-top: 4px dashed var(--black);
}

.dotted-left {
  border-left: 4px dashed var(--black);
}

.page {
  flex-grow: 1;
}

.page__wrapper {
  display: grid;
  align-items: start;

  gap: 15px;
  grid-auto-flow: row dense;
  grid-template-columns: 410px 440px 500px;
  grid-template-rows: auto auto;
}

/* -- HEADER -- */

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 800px;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-family: "Inter Black", "Arial", sans-serif;
  column-gap: 20px;

  row-gap: 10px;
}

.header__nav-link {
  position: relative;

  display: block;
  max-width: 150px;
  padding-left: 30px;

  font-size: 20px;
  color: var(--white);
}

.header__nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  background-image: url("../assets/svg/bookmark.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  transform: rotate(90deg);
  opacity: 0;
}

.header__nav-link:hover::before {
  opacity: 1;
}

/* -- FOOTER -- */

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__logo {
  color: var(--white);
}

.footer__logo:hover {
  color: var(--wild-willow);

  transition-duration: 0.7s;
}

.footer__copyright {
  display: flex;
  align-items: center;

  column-gap: 10px;
}

.footer__year {
  display: block;
  max-width: 100px;
  margin-top: 10px;

  color: var(--white);
}

.footer__github-link {
  display: flex;

  color: var(--white);
}

.footer__github-link:hover {
  color: var(--wild-willow);

  transition-duration: 0.7s;
}

/* -- INTRO SECTION -- */

.intro__about {
  position: relative;

  display: grid;
  max-width: 410px;
  padding: 100px 30px 30px 30px;

  background-color: var(--snow-drift);
  border-radius: 20px;

  justify-items: center;
  row-gap: 15px;
}

.intro__about::before,
.intro__about::after {
  content: "";
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

.intro__about::before {
  top: 12px;

  width: 85px;
  height: 16px;

  background-color: var(--black);
  border-radius: 10px;
}

.intro__about::after {
  bottom: calc(100% - 20px);

  width: 65px;
  height: 100%;

  background-color: var(--peach-orange);
  background-image: linear-gradient(var(--transparent) 95%, var(--sandy-beach) 97%, var(--sea-buckthorn) 98%, var(--black)),
  repeating-linear-gradient(to top, var(--twine) 0 1px, var(--tacao) 3px 5px, var(--transparent) 5px 20px);
}

.intro__about:hover {
  background-color: var(--cotton-candy);

  transition-duration: 0.7s;
}

.intro__about:hover .intro__title {
  color: var(--mulberry);

  transition-duration: 0.7s;
}

.intro__about:hover .intro__role {
  color: var(--white);

  transition-duration: 0.7s;
}

.intro__summary {
  display: grid;
  max-width: 410px;
  padding: 30px;

  background-color: var(--snow-drift);
  border-radius: 20px;

  row-gap: 20px;
}

.intro__image {
  position: relative;

  display: block;

  border-radius: 20px;
}

.intro__image-wrapper {
  position: relative;
}

.intro__image-wrapper::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1;

  width: 60px;
  height: 60px;

  background-image: url("../assets/svg/smile.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.intro__title {
  position: relative;

  margin: 0;

  font-size: 28px;
  font-family: "Inter Black", "Arial", sans-serif;
}

.intro__title::before,
.intro__title::after {
  content: "";
  position: absolute;
  z-index: 1;

  width: 30px;
  height: 30px;

  background-image: url("../assets/svg/star.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.intro__title::before {
  top: 70px;
  left: -40px;

  transform: rotate(-30deg);
}

.intro__title::after {
  top: -20px;
  right: -40px;
}

.intro__description {
  position: relative;

  margin: 0;

  font-size: 14px;
}

.intro__description::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;

  width: 25px;
  height: 25px;

  background-image: url("../assets/svg/arrow.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  transform: scale(-1, 1) rotate(40deg);
}

.intro__links-wrapper {
  display: grid;

  column-gap: 15px;

  grid-template-columns: repeat(2, 1fr);
}

.intro__download-btn,
.intro__contact-btn {
  position: relative;

  display: block;
  padding: 10px 20px 10px 40px;

  font-size: 14px;
  font-family: "Inter Light", "Arial", sans-serif;
  text-align: center;
  color: var(--white);

  border-radius: 20px;
}

.intro__download-btn {
  background-color: var(--bombay);
}

.intro__contact-btn {
  background-color: var(--black);
}

.intro__download-btn::before,
.intro__contact-btn::before {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
}

.intro__download-btn::before {
  left: 20px;

  width: 15px;
  height: 15px;

  background-image: url("../assets/svg/download.svg");
  background-size: 15px 15px;
}

.intro__contact-btn::before {
  top: 50%;
  left: 35px;

  width: 7px;
  height: 7px;

  background-color: var(--white);
  border-radius: 50%;
  transform: translateY(-50%);
}

.intro__download-btn:hover {
  background-color: var(--tickle-me-pink);

  transition-duration: 0.7s;
}

.intro__contact-btn:hover::before {
  background-color: var(--mint-green);
}

/* -- CONTACTS SECTION -- */

.contacts__wrapper {
  max-width: 440px;
  padding: 20px 30px;

  background-color: var(--pampas);
  border-radius: 20px;
}

.contacts:hover .contacts__wrapper {
  background-color: var(--golden-tainoi);

  transition-duration: 0.7s;
}

.contacts__title {
  position: relative;

  margin: 0;
  padding-right: 30px;

  font-family: "Inter Black", "Arial", sans-serif;
}

.contacts__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 25px;
  height: 25px;

  background-image: url("../assets/svg/paper-clip.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  transform: translateY(-50%);
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;

  column-gap: 30px;

  border-bottom: 1px dotted var(--black);
}

.contacts__term {
  font-family: "Inter Light", "Arial", sans-serif;
}

.contacts__value {
  position: relative;

  padding-left: 25px;

  font-family: "Inter SemiBold", "Arial", sans-serif;
  color: var(--black);
}

.contacts__value--link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 20px;
  height: 20px;

  background-image: url("../assets/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transform: translateY(-50%);
  opacity: 0;
}

.contacts__value--link:hover::before {
  opacity: 1;

  transition-duration: 0.7s;
}

/* -- SKILLS SECTION -- */

.skills {
  display: grid;

  grid-template-columns: auto 150px;
}

.skills__wrapper:first-child {
  grid-column: 1 / 3;
}

.skills__wrapper {
  display: grid;
  padding: 20px 30px;

  background-color: var(--catskill-white);
  border-radius: 20px;

  row-gap: 20px;
}

.skills__wrapper--link {
  padding: 5px;
}

.skills__wrapper--link:hover {
  background-color: var(--outrageous-orange);

  transition-duration: 0.7s;
}

.skills__github-link {
  display: block;

  background-image: url("../assets/svg/github-octocat.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  border: 2px solid var(--black);
  border-radius: 20px;
}

.skills__title {
  position: relative;

  margin: 0;
  padding-right: 30px;

  font-family: "Inter Black", "Arial", sans-serif;
}

.skills__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 25px;
  height: 25px;

  background-image: url("../assets/svg/crown.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  transform: translateY(-50%);
}

.skills__stack-list {
  display: grid;
  margin: 0 0 20px 0;
  padding: 0;

  list-style-type: none;

  row-gap: 15px;
}

.skills__stack-item {
  display: grid;

  row-gap: 8px;
}

.skills__value {
  font-family: "Inter SemiBold", "Arial", sans-serif;
}

.skills__range-scale {
  position: relative;

  width: 100%;
  height: 7px;

  background-color: var(--moon-mist);
  border-radius: 3px;
}

.skills__range-bar {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;

  height: 7px;

  background-color: var(--black);
  border-radius: 3px;
}

.skills__range-bar::before {
  content: attr(data-percent);
  position: absolute;
  bottom: calc(100% + 4px);
  left: calc(100% - 23px);

  width: 46px;
  height: 23px;
  padding: 5px;

  font-size: 12px;
  line-height: 14px;
  font-family: "Inter SemiBold", "Arial", sans-serif;
  text-align: center;

  background-color: var(--white);
  border-radius: 10px;
}

.skills__range-bar::after {
  content: "";
  position: absolute;
  bottom: calc(100% + 2px);
  left: calc(100% - 3px);

  width: 6px;
  height: 6px;

  background-color: var(--white);
  transform: rotate(-45deg);
}

.skills__languages-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.skills__languages-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  column-gap: 30px;
}

.skills__languages-item:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.skills__language {
  position: relative;

  padding-left: 30px;

  font-family: "Inter SemiBold", "Arial", sans-serif;
}

.skills__language::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  transform: translateY(-50%);
}

.skills__language--rus::before {
  background-image: url("../assets/svg/ru.svg");
}

.skills__language--eng::before {
  background-image: url("../assets/svg/en.svg");
}

.skills__language-level {
  display: block;
  padding: 5px 10px;

  font-size: 12px;
  color: var(--white);

  background-color: var(--black);
  border-radius: 25px;
}
